* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background:white;
    color: #fff;
    /* padding-top: 100px; */
}
.empty {
    background-color: red;
    width: 8%;
    /* transform: rotate(45deg); */
    float: left;
    margin: auto;
    overflow: hidden;
}
/* global style */
.container{
    /* width: 80%; */
    width: 88%;
    margin: auto;
    overflow: hidden;
    float: right;
    padding-left: -10px;
    /* border-bottom: 3px solid grey; */
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a:hover {
    border-bottom: 15px solid rgb(121, 16, 16);
    transform: all 300ms ease-in-out;
}
a.active {
    border-bottom: 25px solid rgb(121, 16, 16);
}
/* header */
#mainheader{
    background-color:white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 6px solid rgb(214, 214, 25);
    /* border-top: 3px solid grey; */
}
#mainheader .container .logo {
    /* float: left; */
    margin-top: 10px;
    /* margin-bottom: 20px; */
    /* padding-left: 100px; */
}

#mainheader .container .logo img {
    max-width: 100%;
    width: 110px;
    float: left;
    cursor: pointer;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    padding-right: -10px;
    /* padding-bottom: 20px; */
}
#mainheader .container #nav{
    float: right;
    list-style: none;
}
#mainheader .container #nav li{
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    /* margin-bottom: 20px; */
    /* padding-right: 10px; */
}
.mess {
    background-color: rgb(216, 20, 20);
    margin-top: no-gap;
    padding-top: no-gap;
    width: 100%;
    margin-right: -5px;
    float: left;
    margin-bottom: 5px;
}
.pher {
    /* background-color: red; */
    /* padding-top: 38px; */
    /* padding-bottom: 38px; */
    /* margin-left: 22px; */
    /* transform: rotateY(45deg); */
}
#info {
    background-image: url("../banner.png");
    margin-top: no-gap;
    height: 400px;
    /* border-top: 3px solid grey; */
    /* padding-top: 0px; */
    /* margin-top: 0px; */
}

.inquiry {
    background-image: url("../contact_background@2x-8.png");
    width: 500px;
    float: right;
    padding-left: 30px;
    /* margin-top: 0px; */
}
h5 {
    /* margin-right: 30px; */
    float: right;
    margin-right: 50px;
    padding-bottom: 8px;
    /* background-image: url("../contact_background@2x-8.png"); */
}
.empowered {
    /* margin-left: 100px; */
    /* background-image: url("../banner.png") */
    padding-top: 200px;
    /* margin-bottom: 30px; */
    /* padding-bottom: 20px; */
}
.add {
    /* float: right; */
    margin-top: -10px;
}
.add > img {
    /* float: right; */
    padding-left: 900px;
    
}
.apply {
    background: #efefef;
    overflow: auto;
    border-bottom: 7px solid rgb(199, 190, 190);
}
.apply > span {
    background-image: url("../practical.png");
    /* background-color: red; */
    /* align-content: center; */
}
.arrow {
    background-image: url("../practical.png");
    float: right;
    padding-right: 25px;
    width: 250px;
    /* display: inline-block; */
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.mail {
    /* background-color: rgb(32, 5, 5); */
    /* opacity: 0.90; */
    padding-top: 120px;
    margin-top: 15px;
    padding-bottom: 120px;
    padding-left: 50px;
}
.msg {
    /* background-color: rgb(32, 5, 5); */
    /* opacity: 0.90; */
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 28px;
    padding-right: -10px;
    /* border-bottom: 3px solid brown; */
    /* padding-left: 30px; */
}
.send {
    /* background-color: rgb(32, 5, 5); */
    /* opacity: 0.90; */
    padding-top: 70px;
    margin-top: 15px;
    padding-bottom: 90px;
    padding-left: 100px;
    /* border-bottom: 3px solid brown; */
}
#items {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
#items .item .sec span {
    float: left;
    display: inline;
    margin-top: 30px;
    margin-left: 10px;
    color: black;
}

#quickmsg {
    background-color: rgb(51, 10, 10);
}

#items .item .sec img {
    /* max-width: 100%; */
    width: 60px;
    height: 60px;
    float: left;
    cursor: pointer;
    /* padding-right: 20px; */
    /* margin-bottom: 10px; */
    /* margin-top: 20px; */
    /* margin-left: 10px; */
    /* border: solid 1px ; */
    /* border-radius: 50px; */
    /* background-color: rgb(228, 222, 222); */
}
.msg {
    float: left;
}
.icon {
    border-bottom: 2px solid rgb(153, 55, 55);
}
.foot {
    background-color: rgb(32, 5, 5);
}

.column {
    float: left;
    width: 100%;
}

section#items, .item, .icon {
    overflow: auto;
}

ul {
    overflow: auto;
}

.apply-btn {
    float: left;
    width: 50%;
}

.apply-text > span {
    color: black;
    /* float: right; */
    /* padding-right:30px; */
    /* padding-top: 25px; */
    /* padding-bottom: 20px; */
    font-size: 24px;
    display: inline-block;
    color: grey;
    padding-top: 10px;
    float: right;
}

.apply-text .emphasis {
    color: red;
    font-size: 40px;
    font-weight: bold;
    display: block;
    padding-top: 10px;
    padding-left: 13px;
}
.apply-text .light {
    /* padding-top: -10px; */
    color: black;
    /* line-height: -2; */
    font-size: 30px;
    display: block;
    padding-left: 13px;
    margin-top: -27px;
    /* padding-bottom: -20px; */
}

.apply-btn button {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    width: 30%;
    border: 3px solid grey;
}

@media only screen and (min-width: 700px) {
    .col-md-1 {
        width: 8.333%;
    }
    .col-md-2 {
        width: 16.667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.333%;
    }
    .col-md-5 {
        width: 41.666%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333%;
    }
    .col-md-8 {
        width: 66.666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.333%;
    }
    .col-md-11 {
        width: 91.666%;
    }
    .col-md-12 {
        width: 100%;
    }
    #items .item .sec span {
        float: left;
        display: inline;
        margin-top: 30px;
        margin-left: 10px;
        color: black;
    }
    
    #items .item .sec img {
        /* max-width: 100%; */
        width: 90px;
        height: 100px;
        float: left;
        cursor: pointer;
        /* margin-bottom: 10px; */
        margin-top: 50px;
        margin-left: 60px;
        /* margin-left: 40px; */
        /* border: solid 1px ; */
        /* border-radius: 50px; */
        /* background-color: rgb(228, 222, 222); */
    }
    .empowered {
        /* margin-left: 100px; */
        /* background-image: url("../banner.png") */
        padding-top: 80px ! important;
        /* margin-bottom: 30px; */
        /* padding-bottom: 20px; */
    }

}


@media only screen and (min-width: 1200px) {
    .col-lg-1 {
        width: 8.333%;
    }
    .col-lg-2 {
        width: 16.667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.333%;
    }
    .col-lg-5 {
        width: 41.666%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.333%;
    }
    .col-lg-8 {
        width: 66.666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.333%;
    }
    .col-lg-11 {
        width: 91.666%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .empowered {
        /* margin-left: 100px; */
        /* background-image: url("../banner.png") */
        padding-top: 115px !important;
        /* margin-bottom: 30px; */
        /* padding-bottom: 20px; */
    }
}









<div class="promo">
        <img src="images/101.png" alt="">
        <img src="images/102.png" alt="">
        <img src="images/103.png" alt="">
        <img src="images/104.png" alt="">
        <div class="add">
            <div class="advert">
                <h3>Start Making Millions with</h3>
                <br>
                <span>
                    <h3 style="margin-top: -35px">Real Estate Investments</h3>
                </span>
                <p style="font-size: 15px">Real Estate for Beginners: How To
                    <br>Get Started with Real …</p>
            </div>
            <div class="advert">
                <h3>All-expense-paid trip, Cash</h3>
                <br>
                <span>
                    <h3 style="margin-top: -35px">and Land Prizes: we make
                        <br>
                        <h3 style="margin-top: -10px">Heros From Zeros</h3>
                    </h3>
                </span>
                <p style="font-size: 15px">On Saturday 17th of November
                    <br>2018, 25 team members of …</p>
            </div>
            <div class="advert">
                <h3>How to find the right real</h3>
                <br>
                <span>
                    <h3 style="margin-top: -35px">estate company when
                        <br>
                        <h3 style="margin-top: -10px">buying property in Nigeria</h3>
                    </h3>
                </span>
                <p style="font-size: 15px">Buying a landed property can be a
                    <br>tricky business without …</p>
            </div>
            <div class="advert">
                <h3>Safety tips for the Holidays</h3>
                <br>
                <span>
                    <h3 style="margin-top: -35px"> Festive season</h3>
                </span>
                <p style="font-size: 15px">It's Christmas season again; time
                    <br>for fun and celebration, but most …</p>
            </div>
        </div>
    </div>