@media screen and (min-width: 350px) and (max-width: 699px) {
    .togglebar {
        display: block;
        width: 100%;
        position: fixed;
    }
    #sidebar {
        position: absolute;
        width: 200px;
        height: 100%;
        left: -200px;
        transition: all 500ms linear;
    }
    #sidebar.active{
        left: 0px;
    }
    .bar{
        color: grey !important;
        font-size: 30px !important;
        left: 194px;
        position: relative;    
        top: 30px;
    }
    #nav{
        background-color: rgb(51, 10, 10);
        position: relative;
        top: 90px;
    }
    #nav ul{
        position: relative;
        top: 11px;
    }
    #nav li {
        width: 200px;
        height: 60px;
        position: relative;
        margin-top: 10px;
        padding-left: 37px;
        border-bottom: 2px solid rgba(100,100,100, 0.4);
    }
    #mainheader .container #nav li a{
        text-decoration: none;
        color: white ! important;
        font-size: 20px;
    }
    .empowered h1 {
        margin-top: 0px !important;
    }
    .empowered {
        padding-top: 120px;
    }
    #info {
        height: 300px;
    }

    .item {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    #items .item span {
        text-align: center ! important;
        margin-top: -50px ! important;
    }
    #items .item .sec .again {
        margin-left: 100px ! important;
    }
    #items .item .bon {
        text-align: center ! important;
        font-size: 20px ! important;
    }
    #items .item .bone {
        text-align: center ! important;
        font-size: 20px ! important;
        margin-top: -10px ! important;
        margin-left: 80px ! important;
    }
    #items .item .hech {
        font-size: 12px ! important;
    }
    #items .item .heche {
        font-size: 12px ! important;
        margin-top: -8px ! important;
    }
    #items .item .sec img {
        width: 50%  !important;
        margin: auto ! important;
        overflow: hidden ! important;
        margin-top: 50px ! important;
        margin-left: 60px ! important;
        width: 70px ! important;
        height: 110px ! important;
    }
    .mail img {
       text-align: center ! important;
       margin-left: 60px;
    }
    .sec div {
        text-align: center ! important;
        width: 80%;
        margin: auto;
        overflow: hidden;
        background-color: white ! important;
    }
    .sec img {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    #quickmsg .icon form {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    .apply {
        background-color: white !important;
    }
    .apply-btn button {
    padding: 18px !important;
    width: 80% !important;
    border: 3px solid grey;
    color: white;
    font-size: 17px !important;
    margin-left: 140px !important;
    }
    .arrow {
        background-image: none ! important;
        width: 80% !important;
        float: none !important;
        margin-top: -40px !important;
        margin-left: -70px !important;
        letter-spacing: 3px;

    }
    .apply-text > span {
        margin-top: -30px !important;
    }
    .foot .copy {
        float: left ! important;
        margin-left: 70px !important;
        margin-top: 15px !important;
    }
    .foot .memory {
        margin-top: 60px !important;
    }

}

@media screen and (min-width: 700px) and (max-width: 1200px) {
.apply-btn button {
        font-size: 18px;
    }
    #items {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .obj {
        width: 150px ! important;
        height: 150px ! important;
    }
    .pic {
        height: 100px ! important;
        width: 155px ! important;
    }
    #items .item .sec img {
        height: 60px;
        width: 60px;
        margin-left: 50px;
    }
    .ben {
        height: 60px ! important;
        width: 50px ! important;
        margin-left: 50px ! important;
    }
    #items .item .sec span {
        margin-top: -20px;
    }
    .bon {
        font-size: 20px ! important;
    }
    .bone {
        font-size: 20px ! important;
    }
    .hech {
        font-size: 12px ! important;
    }
    .heche {
        font-size: 12px ! important;
    }
    .sec {
        width: 33% ! important;
    }
    .meg {
        width: 190px ! important;
        padding-left: 10px ! important;
    }
    .mail {
        padding: 30px ! important;
    }
    .arr {
        width: 140px ! important;
    }
    .send {
        padding-left: 50px;
    }
}